<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/radio.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<ul class="mode control-group" id="nav">
    <form id="modeFrom">
        Start input:
        <label class="control control-radio">
            Time intervals
            <input type="radio" name="mode" value="true" checked="checked"/>
            <div class="control_indicator"></div>
        </label>
        <label class="control control-radio">
            Frequency
            <input type="radio" name="mode" value="false"/>
            <div class="control_indicator"></div>
        </label>
    </form>


    <div id="measButtons">
        <a class="btn" id="startMeasButton" href="#">Start measurement</a>
    </div>
</ul>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<div id="parameters"></div>

<div id="result">
    <p id="resultValue">
        xxxxxxxx
    </p>
</div>

<a class="btn" id="paramVisibleBtn" href="#">Show parameters</a>
</body>
</html>