<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
</body>

<div class="control-group">
    <div id="params">
        <div id="paramFragment">
            <!--<div th:include="/fragments/paramS :: paramS"></div>-->
            <div id="sParamsDiv" th:fragment="paramS">
                <!--by default first value is true second is false-->
                <form id="startInputForm">
                    Start input:
                    <label class="control control-radio">
                        A
                        <input type="radio" name="startInput" checked="checked" value="true"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        B
                        <input type="radio" name="startInput" value="false"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>

                <form id="startSloteForm">
                    Start slote:
                    <label class="control control-radio">
                        Rising
                        <input type="radio" name="startSlote" checked="checked" value="true"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        Falling
                        <input type="radio" name="startSlote" value="false"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>

                <form id="stopInputForm">
                    Stop input:
                    <label class="control control-radio">
                        A
                        <input type="radio" name="stopInput" value="true"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        B
                        <input type="radio" name="stopInput" checked="checked" value="false"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>

                <form id="stopSloteForm">
                    Stop slote:
                    <label class="control control-radio">
                        Rising
                        <input type="radio" name="stopSlote" checked="checked" value="true"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        Falling
                        <input type="radio" name="stopSlote" value="false"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>

                <form id="clockInternalForm">
                    Clock internal:
                    <label class="control control-radio">
                        Yes
                        <input type="radio" name="clockInternal" checked="checked" value="true"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        No
                        <input type="radio" name="clockInternal" value="false"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>
                <!--// information bits-->
                <!--<form id="calibratedForm">-->
                <!--Is calibrated:-->
                <!--<label class="control control-radio">-->
                <!--Yes-->
                <!--<input type="radio" name="calibrated" checked="checked" value="true"/>-->
                <!--<div class="control_indicator"></div>-->
                <!--</label>-->
                <!--<label class="control control-radio">-->
                <!--No-->
                <!--<input type="radio" name="calibrated" value="false"/>-->
                <!--<div class="control_indicator"></div>-->
                <!--</label>-->
                <!--</form>-->

                <!--<form id="enEndForm">-->
                <!--Is measure finished:-->
                <!--<label class="control control-radio">-->
                <!--Yes-->
                <!--<input type="radio" name="enEnd" checked="checked" value="true"/>-->
                <!--<div class="control_indicator"></div>-->
                <!--</label>-->
                <!--<label class="control control-radio">-->
                <!--Yes-->
                <!--<input type="radio" name="enEnd" value="false"/>-->
                <!--<div class="control_indicator"></div>-->
                <!--</label>-->
                <!--</form>-->
            </div>
        </div>
        <div id="ctrlParamsDiv">
            <div id="measTime">
                <form id="measTimeForm">
                    Measurment time:
                    <label class="control control-radio">
                        0,1 ms
                        <input type="radio" name="measTime" checked="checked" value="0,1ms"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        1 ms
                        <input type="radio" name="measTime" value="1ms"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        10 ms
                        <input type="radio" name="measTime" value="10ms"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        100 ms
                        <input type="radio" name="measTime" value="100ms"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        1 s
                        <input type="radio" name="measTime" value="1s"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        10 s
                        <input type="radio" name="measTime" value="10s"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        1 us
                        <input type="radio" name="measTime" value="1us"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        10 us
                        <input type="radio" name="measTime" value="10 us"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        EXT
                        <input type="radio" name="measTime" value="ext"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>
            </div>
            <div id="inputEnt">
                <form id="inputEntForm">
                    Choose input:
                    <label class="control control-radio">
                        A
                        <input type="radio" name="inputEnt" checked="checked" value="A"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        B
                        <input type="radio" name="inputEnt" value="B"/>
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        F
                        <input type="radio" name="inputEnt" value="F"/>
                        <div class="control_indicator"></div>
                    </label>
                </form>
            </div>
        </div>
    </div>
    <div id="confirmButton">
        <a class="btn" id="confirmConfig" href="">Save configuration</a>
        <p id="saveResultMessage">:)</p>
    </div>
</div>
<script>
    $("#confirmConfig").click(function () {
        var params = {
            startInput: $('input[name=startInput]:checked', '#startInputForm').val(),
            startSlote: $('input[name=startSlote]:checked', '#startSloteForm').val(),
            stopInput: $('input[name=stopInput]:checked', '#stopInputForm').val(),
            stopSlote: $('input[name=stopSlote]:checked', '#stopSloteForm').val(),
            clockInternal: $('input[name=clockInternal]:checked', '#clockInternalForm').val(),
            measTime: $('input[name=measTime]:checked', '#measTimeForm').val(),
            inputEnt: $('input[name=inputEnt]:checked', '#inputEntForm').val()
        };
        console.log(params);
        $.ajax({
            url: "/saveFrequencyParams",
            type: "POST",
            dataType: 'text',
            contentType: 'application/json',
            cache: false,    //This will force requested pages not to be cached by the browser
            processData: false, //To avoid making query String instead of JSON
            data: JSON.stringify(params),
            success: function (data) {
//                $("#saveResultMessage").attr("value", "Saving success");
                console.log("saveParams: " + data);
                $("#saveResultMessage").text(data);
            },
            error: function (e) {
                $("#saveResultMessage").text("Saving error => " + e);
            }
        })
    });

</script>
</html>