<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time Counter Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>

<div class="container">

    <div class="starter-template">
        <h1>Time Counter Controller Web App</h1>
        <h2>
            <span th:text="'Message: ' + ${welcome}"></span>
        </h2>
    </div>

</div>

</body>
</html>